<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwcOx5b_HU6usCnlQS1OO0zxHrdg-F40I</string>
	<key>GCM_SENDER_ID</key>
	<string>519043124726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eshopeapp01</string>
	<key>PROJECT_ID</key>
	<string>eshopapp-88eff</string>
	<key>STORAGE_BUCKET</key>
	<string>eshopapp-88eff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519043124726:ios:fcd6cea6f7f0f2adf0cbd7</string>
</dict>
</plist>